In [1]:
import pandas as pd

# Assuming 'returns' is a DataFrame containing stock returns
returns = pd.DataFrame({
    'MSFT': [0.05, 0.07, -0.01],
    'IBM': [0.04, 0.02, 0.03]
})

In [2]:
returns

   MSFT   IBM
0  0.05  0.04
1  0.07  0.02
2 -0.01  0.03

In [3]:
returns["MSFT"].corr(returns["IBM"])

-0.2401922307076306

In [4]:
import pandas as pd

df = pd.DataFrame({
'A': {0: 'a', 1: 'b', 2: 'c'},
'B': {0: 1, 1: 3, 2: 5},
'C': {0: 2, 1: 4, 2: 6}
})

In [14]:
df.describe()

         B    C
count  3.0  3.0
mean   3.0  4.0
std    2.0  2.0
min    1.0  2.0
25%    2.0  3.0
50%    3.0  4.0
75%    4.0  5.0
max    5.0  6.0

In [ ]:

melted = pd.melt(df, id_vars="A", value_vars=["B", "C"])
melted

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [15]:
import pandas as pd
import numpy as np

dates = pd.date_range("2023-01-01", "2023-01-31")
data = pd.Series(np.random.rand(len(dates)), index=dates)

In [18]:
data

2023-01-01    0.745245
2023-01-02    0.242611
2023-01-03    0.013634
2023-01-04    0.461929
2023-01-05    0.060044
2023-01-06    0.597294
2023-01-07    0.022881
2023-01-08    0.394667
2023-01-09    0.563647
2023-01-10    0.073868
2023-01-11    0.083719
2023-01-12    0.088879
2023-01-13    0.781399
2023-01-14    0.626495
2023-01-15    0.213226
2023-01-16    0.652808
2023-01-17    0.398524
2023-01-18    0.615927
2023-01-19    0.349238
2023-01-20    0.137464
2023-01-21    0.668965
2023-01-22    0.609944
2023-01-23    0.461604
2023-01-24    0.460862
2023-01-25    0.871337
2023-01-26    0.679652
2023-01-27    0.431800
2023-01-28    0.694527
2023-01-29    0.945452
2023-01-30    0.559805
2023-01-31    0.498736
Freq: D, dtype: float64

In [17]:
data["2023-01-05":"2023-01-15"]

2023-01-05    0.060044
2023-01-06    0.597294
2023-01-07    0.022881
2023-01-08    0.394667
2023-01-09    0.563647
2023-01-10    0.073868
2023-01-11    0.083719
2023-01-12    0.088879
2023-01-13    0.781399
2023-01-14    0.626495
2023-01-15    0.213226
Freq: D, dtype: float64